<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title>Ajouter un rucher</title>
  </head>
  <body>
    <h1>Ajouter un rucher</h1>
    <p><input value="true" name="rucheractif" type="checkbox">Rucher actif</p>
    <p>Nom du rucher* : <input name="nom" type="text"></p>
    <p>localisation* : <input name="localisation" type="text"></p>
    <p>Coordonnées GPS : <input name="coordonnees" type="text"></p>
    <p>Observations* :<textarea></textarea></p>
    <p>Numéro de rucher : <input name="numero" type="text"></p>
    <p><input value="Valider" name="Submit" type="submit"><input value="Annuler"
        name="cancel" type="reset"></p>
  </body>
</html>
