<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title>apiculteur</title>
  </head>
  <body>
    <h1>Apiculteur</h1>
    <p>Nom* :&nbsp;<input name="nom" type="text"></p>
    <p>Prénom* :&nbsp;<input name="prenom" type="text"></p>
	<p>Login* :&nbsp;<input name="prenom" type="text"></p>
	<p>mot de passe* :&nbsp;<input name="pass1" type="password"></p>
	<p>Confirmation* :&nbsp;<input name="pass2" type="password"></p>
    <p>Adresse* :&nbsp;<input name="adresse" type="text">&nbsp;
      <select name="voie">
        <option>toto</option>
      </select>
      &nbsp;<input name="nomvoie" type="text"></p>
    <input name="cp" type="text">&nbsp;<input name="ville" type="text">
    <p>Siret :&nbsp;<input name="siret" type="text"></p>
    <p>Code APE :&nbsp;<input name="ape" type="text"></p>
    <p>NUMAGRIT* :&nbsp;<input name="numagrit" type="text"></p>
    <p>Code NAPI* :&nbsp;<input name="napi" type="text"></p>
    <p>Adresse mail :&nbsp;<input name="mail" type="text"></p>
    <p><input value="Valider" name="Submit" type="submit"><input value="Annuler"
        name="cancel" type="reset"></p>
  </body>
</html>
