<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title>Création ruche</title>
  </head>
  <body>
    <p>Création d'une ruche</p>
    <p>Nom de la ruche* :&nbsp;<input name="nom" type="text"></p>
    <p>Numéro de la ruche* :&nbsp;<input name="nom" type="text"></p>
    <p>Nombre de cadre :&nbsp;
      <select name="DateVisite">
        <option>toto</option>
      </select>
    </p>
    <p>Date de début d'activité :&nbsp;<input name="nom" type="text"></p>
    <p>type de ruche* :&nbsp;
      <select name="DateVisite">
        <option>toto</option>
      </select>
    </p>
    <p>état* :&nbsp;
      <select name="DateVisite">
        <option>toto</option>
      </select>
    </p>
    <p>Observations :&nbsp;<textarea></textarea></p>
    <p>Nombre de hausses :</p>
    <p><input value="Valider" name="Submit" type="submit"><input value="Annuler"

        name="cancel" type="reset"></p>
    
  </body>
</html>
