#Corps_Aide
{
	
}
.pageAide
{
	
}
img{
	border : inset;
	border-width : 1px;
	vertical-align: middle;
	padding : 5px;
	margin : 10px;
}
.paraf
{
	padding-left : 10px;
	width : 100%;
}
.imgpage
{
	margin-left : 70px;
}