#ListeMiel {
	background-image: url("images/fond2.jpg"); 
	width : 25%;
	border : 3px;
	border-style : inset;
	padding-left : 5px;
}
#ListeMiel ul{
	padding-left : 15px;
	margin : 5px 0px 5px 0px;
	list-style-type: none;
}
#ListeMiel li{
	padding : 0px;
	margin : 2px;
	color : black;
}
#ListeMiel li:hover{
	color : red;
	font-weight : bold;
}
.ligneMiel {
	margin : 2px;
	width : 100%;
	padding : 0px;
}
#champmiel
{
	width : 40%;
}